@custom-selector :--heading h1, h2, h3, h4, h5, h6;

@custom-media --viewport-medium (width <= 50rem);

.hello {
  color: red;
}

:--heading {
  background: blue;

  @media (--viewport-medium) {
    margin-block: 0;
  }
}
